/* Sets the properties for the entire page. */
body {
    margin: 0;
    background-color: ivory;
}

h1, h2, h3, h4, label {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    font-size: 30px;
}

/**********************************/
/*                                */
/*     HEADER SECTION CLASSES     */
/*                                */
/**********************************/
.header-wrapper {
    background-color: lightsalmon;
}

/* Centers the header to the page */
.header {
    font-size: larger;
    text-align: center;
    align-self: center;
    justify-self: left;
}

.header-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}

/* Makes the grid be only 1 column for smaller screens. */
@media (max-width: 480px) {
    .header-grid {
        grid-template-columns: 100%;
    }
}

.header-image {
    display: block;
    margin-left: auto;  /* Sets the margin to the left of the image to the space available, pushing the image right. */
    width: 250px;
    height: 250px;
}

/*********************************/
/*                               */
/*     UNITS SECTION CLASSES     */
/*                               */
/*********************************/
/* Styles for the translation units */
.units-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin: 0px 100px;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

@media (max-width: 1300px) {
    .units-grid {
        grid-template-columns: 100%;
    }
}

/* Centers the grid boxes. */
.units {
    padding: 4%;
    width: 50%;
    position: relative;
}

/* Sets the size of the image to be within the grid box. */
/* Border radii rounds the corners of the image. */
.units > img {
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 0 8px 12px 0 rgb(0, 0, 0, 0.4);
    transition: all ease-in-out 0.4s;
}

.units > img:hover {
    box-shadow: 0 8px 12px 0 rgb(0, 0, 0, 0.8);
}

/***********************************/
/*                                 */
/*     FOOTER SECTION CLASSES      */
/*                                 */
/***********************************/
.footer {
    background-color: #2D3250;
}

.footer > h3 {
    margin: 0;
    padding: 50px;
    color: ivory;
}

/***************************************/
/*                                     */
/*     TRANSLATOR SECTION CLASSES      */
/*                                     */
/***************************************/

.translator
{
    margin: 25px;
}

.forms-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin-bottom: 25px;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
}

@media (max-width: 1300px) {
    .forms-grid {
        grid-template-columns: 100%;
    }
}

.forms-area > label {
    font-size: x-large;
}

.tArea {
    width: 700px;
    height: 50px;
    font-size: xx-large;
    margin-top: 15px;
    margin-bottom: 10px;
}

.help-buttons {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 100%;
    gap: 4px;
}

.special-chars {
    height: 50px;
    background-color: ivory;
    font-size: 24px;
    border-radius: 8px;
    border: 2px solid lightcoral;
    transition: all ease-in-out 0.4s;
}

.special-chars:hover {
    background-color: lightcoral;
    color: ivory;
}

.assist-buttons {
    display: grid;
    grid-template-columns: 20% 20%;
    margin-top: 15px;
    gap: 15px
}

.submit {
    height: 50px;
    font-size: 24px;
    background-color: ivory;
    border-radius: 8px;
    border: 2px solid lightsalmon;
    transition: all ease-in-out 0.4s;
}

.submit:hover {
    background-color: lightsalmon;
    color: ivory;
}

.font-change {
    height: 50px;
    font-size: 24px;
    background-color: ivory;
    border-radius: 8px;
    border: 2px solid lightgreen;
    transition: all ease-in-out 0.4s;
}

.font-change:hover {
    background-color: lightgreen;
    color: ivory;
}

.back-button {
    height: 50px;
    font-size: 24px;
    background-color: ivory;
    border-radius: 8px;
    border: 2px solid lightskyblue;
    transition: all ease-in-out 0.4s;
}

.back-button:hover {
    background-color: lightskyblue;
    color: ivory;
}

.unit-img {
    width: 400px;
    height: 400px;
}

/*********************************/
/*                               */
/*     POPUP WINDOW CLASSES      */
/*                               */
/*********************************/

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup-content {
    color: ivory;
    border-radius: 15px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.popup-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}

.popup-button {
    height: 40px;
    font-size: 18px;
    background-color: ivory;
    border-radius: 8px;
    border: 2px solid lightskyblue;
    transition: all ease-in-out 0.4s;
}

.popup-button:hover {
    background-color: lightskyblue;
    color: ivory;
}

.show {
    display: block;
}

@keyframes fade-in {
    from {top: 0; opacity: 0}
    to {top: 0; opacity: 1}
}